<section class="hf-about-banner hf-bg-blue text-light hf-property-banner">
    <div class="container">
        <div class="hf-about-head text-center">
            <h1>Insurance</h1>
        </div>
    </div>
</section>

<div class="hf-loan-sec p-4 position-relative">
    <div class="hf-breadcrumb p-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active " aria-current="page">Insurance</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="card p-5 shadow-sm">
            <div class="card-body">

                <div class="row">
                    <img src="assets\insurance\banenr.PNG" width="400" class="text-align:center;align-item=center">
                </div>
                <div class="row" style="margin: 2rem 0rem;">
                    <div class="col-sm cardposition">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 220px; height: 350px;">
                            <img src="assets\insurance\lifeins.PNG"  alt="Img Not Found" style="width: 100%; height: 45%;">
                            <div class="card-body">
                                <div class="institle">
                                    <h5 class="card-title">LIFE INSURANCE</h5>
                                </div>
                                <div class="insdescription">
                                    <p class="card-text">Life insurance policy provides you assurance that your family will
                                        get financial security and support even when you are...</p>
                                </div>
                                <div>
                                    <a class="insabtn" href="#lifeins">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm cardposition">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 220px; height: 350px;">
                            <img class="card-img-top" src="assets\insurance\heathins.PNG" alt="Img Not Found" style="width: 100%; height: 45%;">
                            <div class="card-body">
                                <div class="institle">
                                    <h5 class="card-title">HEALTH INSURANCE</h5>
                                </div>
                                <div class="insdescription">
                                    <p class="card-text">A type of insurance coverage that pays for medical and surgical expenses
                                        that are incurred by the insured...</p>
                                </div>
                                <a class="insabtn" href="#heathins">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm cardposition">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 220px; height: 350px;">
                            <img class="card-img-top" src="assets\insurance\motorins.PNG"  alt="Img Not Found" style="width: 100%; height: 45%;">
                            <div class="card-body">
                                <div class="institle">
                                    <h5 class="card-title">MOTOR INSURANCE</h5>
                                </div>
                                <div class="insdescription">
                                    <p class="card-text">A standard motor insurance or better known as a car insurance policy is
                                        usually the insurance coverage...</p>
                                </div>
                                <a class="insabtn" href="#motorins">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm cardposition">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 220px; height: 350px;">
                            <img class="card-img-top" src="assets\insurance\homeins.PNG" alt="Img Not Found" style="width: 100%; height: 45%;">
                            <div class="card-body">
                                <div class="institle">
                                    <h5 class="card-title">HOME INSURANCE</h5>
                                </div>
                                <div class="insdescription">
                                    <p class="card-text">Property insurance provides protection against most risks to property,
                                        such as fire, theft and some weather damage...</p>
                                </div>
                                <a class="insabtn" href="#homeins">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="text shadow p-3 mb-5 bg-white rounded">
                        <p>Insurance is the equitable transfer of the risk of a loss, from one entity to another in
                            exchange for payment.</p>
                        <p>Insurance provides a financial safety net and peace of mind unmatched by any other form of
                            investment or safe-keeping. Be it a natural or manmade disaster, an accident, major illness,
                            theft, death or any other contingency or unforeseen
                            event, having insurance will help you start from where you left and not set you back. </p>
                    </div>
                    <h2>Types of Insurance</h2>

                    <div class="row" style="text-align: center;">
                        <div class="rounded mx-auto d-block" style="margin: 1rem 0rem 2rem 0rem;">
                            <img src="assets\img\insurance-chart.png"  class="toiimg">
                        </div>
                        <div class="">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            LIFE INSURANCE
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="panel-body panel_text">
                                                <p> Life insurance policy provides you assurance that your family will
                                                    get financial security and support even when you are not around.
                                                    This is the best way where the insured person can save his family
                                                    from
                                                    financial crisis at the time of any mishappening or after death, but
                                                    prior to this it’s necessary to compare best life insurance policies
                                                    offered by different companies, necessary compare contract terms,
                                                    cost, premium quotes, limitations and benefits.<br>
                                                    <br>
                                                </p>
                                                <ul style="list-style: none;" class="list">
                                                    <li><i class="fa fa-check"></i>
                                                        <strong>Term Life Insurance: </strong><br>
                                                    </li>
                                                    <p>Term life insurance plans provide insurance to an individual for
                                                        a fixed tenure. It is the pure and cheapest form of life
                                                        insurance for an individual. This type of policy is suitable for
                                                        people who are
                                                        unable to pay high insurance in order to buy endowment policies.
                                                    </p>

                                                    <li><i class="fa fa-check"></i><strong>Whole Life insurance:
                                                        </strong><br>
                                                        <p>Whole life policies are totally opposite to term life plans.
                                                            A whole life insurance policy covers risk to an individual
                                                            for their whole life and generally no pay backs are provided
                                                            under these types
                                                            of policies.</p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Endowment Life Insurance
                                                            policy: </strong><br>
                                                        <p>Endowment life insurance policies are referred as traditional
                                                            policies as well. Endowment policies covers risk to an
                                                            individual for a specific period of time as per the opted
                                                            policy and it also pay
                                                            backs sum assured and promised bonuses at time of maturity
                                                            as well.</p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Money Back Insurance policy:
                                                        </strong><br>
                                                        <p>Money back insurance policy is a type of life insurance under
                                                            which money is paid to an individual at different stages of
                                                            life yet covering their risk for a specific period of time.
                                                        </p>
                                                    </li>
                                                </ul>
                                                <ul style="list-style: none;" class="list">
                                                    <li><i class="fa fa-check"></i><strong>Unit Linked Insurance Plan:
                                                        </strong><br>
                                                        <p>Unit linked insurance plans are the modern form of insurance.
                                                            In addition to insurance cover provided by the provider,
                                                            money is also invested in various avenues therefore
                                                            providing opportunity to
                                                            derive good returns as well. So, it serves as an insurance
                                                            policy and investment plan.</p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Retirement Plans:
                                                        </strong><br>
                                                        <p>These policies are specially meant to provide steady income
                                                            to an individual after their retirement. These kinds of
                                                            policies enable a person to be independent maintaining good
                                                            lifestyle.</p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Savings and investment plans:
                                                        </strong><br>
                                                        <p>These plans help you to save money and also provide you
                                                            investment opportunity to grow your money.</p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Child Insurance policy:
                                                        </strong><br>
                                                        <p>These types of policies are meant especially for children.
                                                            The basic motive of these policies is to provide financial
                                                            assistance to a child at various stages of their education
                                                            and thus making their
                                                            bright future. </p>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            HEALTH INSURANCE
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>A type of insurance coverage that pays for medical and surgical expenses
                                                that are incurred by the insured. Health insurance can either reimburse
                                                the insured for expenses incurred from illness or injury or pay
                                                the care provider directly. <br>
                                                <br>
                                            </p>
                                            <div class="type">
                                                <h3><strong>Types of Health Insurance :</strong></h3>
                                                <ul style="list-style: none;" class="list mt-4 ">
                                                    <li><i class="fa fa-check"></i><strong>Cashless
                                                            Mediclaim</strong><br>
                                                        <p>Cashless Mediclaim plans are those which allow a policyholder
                                                            to get admitted into a network hospital without the need of
                                                            a paying any upfront admission fee and discharge fee as the
                                                            same is paid
                                                            by the health insurer. The cashless mediclaim reimbursement
                                                            is capped to the level of sum assured the person has and the
                                                            coverage’s under the plan.</p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Individual Health
                                                            Insurance</strong><br>
                                                        <p>Individual Health Insurance plan offer more protection to a
                                                            policyholder, as in such a policy the policyholder can
                                                            consume the entire amount alone without have to worry about
                                                            sharing it with other
                                                            members of his family incase of a floater policy.
                                                        </p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Family Floater
                                                            Plan</strong><br>
                                                        <p>Family Floater Plans refer to those which cover the entire
                                                            family under one plan. Under a family floater plan the
                                                            people covered share the total health insurance available to
                                                            them. The benefit under
                                                            such a plan is that since a large group of people share the
                                                            same insurance cover the premium to be paid is far lesser in
                                                            case they all would have bought an individual plans for
                                                            themselves.
                                                        </p>
                                                    </li>

                                                    <li><i class="fa fa-check"></i><strong>Hospitalization</strong><br>
                                                        <p>Hospitalization plans only pay a pre-fixed amount as per the
                                                            level of coverage for the room rent only. These plans are
                                                            cheaper when compared to full indemnity plans as they do not
                                                            pay for any treatments
                                                            and medicines used during the course of hospitalization, as
                                                            they only pay for room rent.</p>
                                                    </li>
                                                </ul>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            MOTOR INSURANCE
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>A standard motor insurance or better known as a car insurance policy is
                                                usually the insurance coverage mandated by law to drive on the road.
                                                Thus, it primarily covers you against liability damages and unexpected
                                                repairs. These liability damages can be of two types. First is when a
                                                bodily injury has been caused to a third person. Second is where the
                                                property of a third person and own car.
                                            </p>
                                            <div class="type">
                                                <h3><strong>Types of Motor Insurance : </strong></h3>
                                                <ul style="list-style: none;" class="list mt-5">
                                                    <li><i class="fa fa-check"></i><strong>Car Insurance</strong><br>
                                                    </li>
                                                    <p>Car Insurance refers to coverage for an accidental loss or damage
                                                        to own car or to a third party. While choosing for a suitable
                                                        car insurance policy a person should always look to compare the
                                                        premium
                                                        for various insurers so as to know if he has got the best deal
                                                        or not.
                                                    </p>
                                                    <li><i class="fa fa-check"></i><strong>Two Wheeler
                                                            Insurance</strong></li>
                                                    <p>Similar to a Car Insurance, two wheeler insurance also provides
                                                        protection to cars and bikes. The features of a two wheeler
                                                        policy are similar to those of a car insurance</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                            HOME INSURANCE
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                Property insurance provides protection against most risks to property,
                                                such as fire, theft and some weather damage. This includes specialized
                                                forms of insurance such as fire insurance, flood insurance, earthquake
                                                insurance, home insurance, or boiler insurance.
                                                Property is insured in two main ways—open perils and named perils.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <app-footer></app-footer>
        <router-outlet></router-outlet>