<div class="position-relative">
    <header class="shadow-sm">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow">
            <div class="container">
                <a href="/">
                    <img src="assets/img/logo.png" alt="logo" height="45" width="150px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">


                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end">
                        <!-- <li class="nav-item">
                            <a class="nav-link text-center active" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">About</a>
                        </li> -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" routerLink="/services">About Services</a></li>
                                <li><a class="dropdown-item" href="/property">Property</a></li>
                                <li><a class="dropdown-item" href="/insurance">Insurance</a></li>
                                <li><a class="dropdown-item" href="/mutual-funds">Mutual Fund</a></li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->
                        <!-- <li class="nav-item">
                          \ routerLink="/services" -->
                        <!--<a class="nav-link text-center" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Services</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->


                        <!-- <li class="nav-item">
                            <a class="nav-link text-center" routerLink="/homeloan" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home Loans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact Us</a>
                        </li>

                        <li class="text-center">
                            <a class="text-center" href="#"><span class="btn btn-outline-dark">Blog</span></a>
                        </li> -->

                        <!--2-3-2022-->
                        <li>
                            <button type="button" class="btn btn-outline-dark hbtn" routerLink="/articles">Buy</button>
                        </li>

                        <li>
                            <button type="button" class="btn btn-outline-dark hbtn" routerLink="/customers">Rent</button>
                        </li>

                        <li>
                            <button type="button" class="btn btn-outline-dark hbtn">Sell</button>
                        </li>

                        <li>
                            <button type="button" class="btn btn-outline-dark" routerLink="/homeloan">Home Loan</button>
                        </li>

                        <li class="dropdown">
                            <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Services</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/property">Property</a></li>
                                <li><a class="dropdown-item" href="/insurance">Insurance</a></li>
                                <li><a class="dropdown-item" href="/mutual-funds">Mutual Fund</a></li>
                            </ul>
                        </li>



                    </ul>

                </div>
            </div>
        </nav>
    </header>