<!-- <footer class="hf-footer-container p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="hf-footer-blk-1">
                    <a href="#"><img src="assets/img/logo.png" class="hf-footer-logo" /></a>
                     <h5 class="hf-foot-logo-txt">Horizon Financial Planners</h5>
                    <p></p>
                    <p></p>
                    <div class="hf-foot-txt">
                        <h6 class="fw-bold">PHONE:&nbsp;</h6><a href="tel:+919833717888" class="text-dark text-decoration-none">9833717888</a>
                    </div>
                    <p></p>
                    <p></p>
                    <h6 class="fw-bold">REGISTERED OFFICE</h6>
                    <p>
                        Horizon Financial Planners Shop No. 7, Shramsaflya CHS., Bulding No. 66, Near Abhyudaya Bank, Nehru Nagar, Kurla East Mumbai - 400 024
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hf-footer-blk-2">
                    <h6 class="fw-bold">WRITE TO US</h6>
                    <a href="mailto:info@horizonfp.com" class="text-dark text-decoration-none">info@horizonfp.com</a>
                    <p></p>
                    <p></p>
                    <h6 class="fw-bold">PROPERTY IN MUMBAI</h6>
                    <a href="#" class="text-dark text-decoration-none">Residential Property</a><br>
                    <a href="#" class="text-dark text-decoration-none">Commertial Property</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hf-footer-blk-2">
                    <h6 class="fw-bold">CALL US</h6>
                    <a href="tel:+919833717888" class="text-dark text-decoration-none">+91-9833717888</a>
                    <p></p>
                    <p></p>
                    <h6 class="fw-bold">COMPANY</h6>
                    <a href="#" class="text-dark text-decoration-none">Privacy Policy</a><br>
                    <a href="/about" class="text-dark text-decoration-none">About Us</a><br>
                    <a href="#" class="text-dark text-decoration-none">Feedback</a><br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hf-footer-blk-4">
                    <h6 class="fw-bold">CONNECT WITH US</h6>
                    <div class="d-flex">
                        <a href="https://www.facebook.com/horizonpvtltd"><i class="fa fa-facebook-square" aria-hidden="true"></i></a><br>
                        <a href="https://www.instagram.com/horizonfp.properties/"><i class="fa fa-instagram" aria-hidden="true"></i></a><br>
                        <a href="YouTube: https://www.youtube.com/@HorizonFP"> <i class="fa fa-youtube-play" aria-hidden="true"></i></a><br>
                        <a href="https://www.linkedin.com/company/horizon-propertinest"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="hf-chat-wrapper ">
        <i class='fa fa-comment'></i>
    </div>
</footer> -->
<!-- <div class="hf-chat-container">
    <div id="hf-chat">

        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-6">

                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <div class="card-header d-flex justify-content-between align-items-center p-3 hf-bg-blue text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <i class=""></i>
                            <p class="mb-0 fw-bold">Live chat</p>
                            <i class="fa fa-close" id="hf-close-chat"></i>
                        </div>
                        <div class="card-body">
                            <div id="hf-message-body">



                            </div>



                            <div class="form-outline">
                                <form id="hf-chat-form">
                                    <input class="form-control" id="data" placeholder="Type your message" />
                                    <button class="btn hf-bg-blue text-white mt-2">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div> -->
<!-- <section class="hf-cpyrit-sec"> -->
<!-- <div class="container">

        <div class="row">
            <div class="col-md-4">
                    <a href="/contact" class="text-decoration-none text-white fblock">Contact Us</a>
                    <a href="/about" class="text-decoration-none text-white fblock">About</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="hf-cpyrit-right text-white">All right reserved</div>
                <ul class="list-inline justify-content-right d-flex flex-row hf-hor-list">
                    <li><a href="/home" class="text-decoration-none text-white">Home</a></li>
                    <li><a href="/contact" class="text-decoration-none text-white">Contact Us</a></li>
                    <li><a href="/about" class="text-decoration-none text-white">About</a></li>
                    <li><a href="/services" class="text-decoration-none text-white">Service</a></li>
                    <li><a href="/homeloan" class="text-decoration-none text-white">Home Loans</a></li>
                    
                </ul>
            </div>
            <div class="col-md-6">
                <div class="hf-cpyrit-right text-white">
                    <p>©Copyright 2023</p>
                </div>
            </div>
        </div>
    </div> -->
<!-- </section> -->



<footer class="page-footer font-small blue pt-4 mainfooter">


    <div class="container-fluid text-center text-md-left">


        <div class="row">


            <div class="col-md-4 mt-md-0 mt-3">


                <p class="footertitle"><a href="/about" class="titlefooter">Horizon</a></p>
                <p>Plan A Better Tomorrow</p>

            </div>


            <hr class="clearfix w-100 d-md-none pb-3">



            <div class="col-md-2 mb-md-0 mb-2">

                <p class="servicestitle">Company Information</p>

                <ul class="list-unstyled">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>

            </div>


            <div class="col-md-2 mb-md-0 mb-2">

                <p class="servicestitle">Locations Services</p>

                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/search-by-city/mumbai">Mumbai</a>
                    </li>
                    <li>
                        <a href=" /search-by-city/thane ">Thane</a>
                    </li>
                    <li>
                        <a href="/search-by-city/Navi mumbai ">Navi Mumbai</a>
                    </li>
                    <li>
                        <a href="/search-by-city/kalyan">Kalyan</a>
                    </li>
                    <li>
                        <a href="/search-by-city/dombivli">Dombivli</a>
                    </li>
                </ul>

            </div>




            <div class="col-md-2 mb-md-0 mb-2 ">


                <p class="servicestitle ">Flat Services</p>

                <ul class="list-unstyled ">
                    <li>
                        <a href="/search-by-bhk/1 ">1 BHK Flat</a>
                    </li>
                    <li>
                        <a href="/search-by-bhk/1.5">1.5 BHK Flat</a>
                    </li>
                    <li>
                        <a href="/search-by-bhk/2">2BHK Flat</a>
                    </li>
                    <li>
                        <a href="/search-by-bhk/3">3BHK Flat</a>
                    </li>
                    <li>
                        <a href="/search-by-bhk/4">4BHK Flat</a>
                    </li>
                </ul>

            </div>


            <div class="col-md-2 mb-md-0 mb-2 ">


                <p class="servicestitle ">Builders Services</p>

                <ul class="list-unstyled ">
                    <li>
                        <a href="search-by-developer/Lodha Group">Lodha Group</a>
                    </li>
                    <li>
                        <a href="search-by-developer/Safal Group">Safal Group</a>
                    </li>
                    <li>
                        <a href="search-by-developer/Balaji Group">Balaji Group</a>
                    </li>
                    <li>
                        <a href="search-by-developer/Runwal Developers">Runwal Developers</a>
                    </li>
                    <li>
                        <a href="search-by-developer/Dosti Group">Dosti Group</a>
                    </li>
                </ul>

            </div>


        </div>


    </div>



    <div class="footer-copyright text-center py-3 ">© 2023 Copyright:
        <a href="/" target="_blank ">Horizonfp</a>
    </div>


</footer>