<div class="hf-single-abt">
    <div class="overview-block2 card mt-5 mb-5 ">
        <div class="overview-head p-4"><h4 class="hf-overview-txt">About Agarwal Paramount</h4></div>
        <hr class="hf-hor-line">
        <div id="floorplan"></div>
        <div class="flex-row d-flex flex-wrap p-3">
            <p class="hf-single-abt-txt">Strategically placed at Virar West of Mumbai, Agarwal Paramount of Agarwal Group invites 
                you to live a peaceful life with no compromise in luxury and comfort. Maintaining complete
                 privacy and utmost space, this elegant creation is nearby to all the required facilities.
                  Planned aesthetically, architectures ensure that the elegant exterior perfectly matches 
                  with the spacious homes. Well appointed with all the modern fittings and fixtures, Agarwal
                   Paramount invites you to live a life you desired for. Allowing maximum air flow and
                    natural light, these abodes will make you feel lively and energetic always. </p>
        </div>
    </div>
</div>