<div class="container">
    <div class="row">
        <div class="col">
            
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header hf-bg-blue ">
                <h4 class="modal-title text-light mcheading">Request Floor Plan</h4>
                <button type="button" class=" hf-bg-blue" data-bs-dismiss="modal"><span class="text-light"><i class="fa fa-close"></i></span>
                </button>
            </div>


            <div class="modal-body">
                <div class="">

                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <div class="pb-2 scinputlable"><b>Email</b> <span class="text-danger">*</span></div>
                            <input type="email" class="form-control rounded p-2" id="email" placeholder="Your Email *">
                          

                        </div>

                        <div class="form-floating mb-3">
                            <div class="pb-2 scinputlable"><b>Name</b><span class="text-danger">*</span></div>
                            <input type="text" class="form-control rounded p-2" id="name" placeholder="Your Name *">
                           
                        </div>
                        <div class="form-floating mb-3">
                            <div class="pb-2 scinputlable"><b>Phone</b><span class="text-danger">*</span></div>
                            <input type="email" class="form-control rounded p-2" id="phone" placeholder="Your Phone *">
                           
                        </div>
                        <div class="mcsbtn">
                            <button type="button" class="btn btn-primary hf-bg-blue">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>