<!-- <section class="hf-about-banner hf-bg-blue text-light">
    <div class="container">
            <div class="hf-about-head text-center">
                <h1>About Horizon</h1>
                <p>Every Home has a Story. Here's Ours</p>
            </div>
        
    </div>
</section> -->
<div class="hf-breadcrumb p-3">
    <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
          </ol>
        </nav>
    </div>
</div>
<section class="hf-abt-profile-sec pb-5">
    <div class="container">
        <div class="row" style="margin-top: 2rem;">
            <div class="col" id="imgone">
                <img src="assets/about/imgthree.PNG" class="shadow-sm p-3 mb-5 bg-white rounded" alt="Avatar" style="width:300px;height:300px;z-index: 0;">
                <div class="plancolor"></div>
            </div>

            <div class="col shadow p-3 mb-5 bg-white rounded" style="padding: 5rem 3rem 5rem 3rem!important;">
              <h6 class="accompany">Horizon F&PA</h6>
              <h1 class="acaboutus">About Us</h1>
              <p>There are very few decisions in life that have a greater impact on how we live, than where we live.
                It's my passion to be a part of that process by assisting buyers and make the best possible choices.</p>
              <p>Find your dream a home, the best mortgage rates or helping a client buying their, Horizon Financial
                Planners will work with you and advise you through every step of the transaction. At Horizon Financial
                Planners Real Estate, we take great pride in being in the service industry. That's what makes us more than
                just another real estate agency. It means we not only have the expertise to see your real estate transaction
                through from start to finish, we're here for you in the future for any needs that might arise. It's an ongoing
                commitment to excellence that delivers maximum peace of mind. We have a dedicated vertical that provides
                professional real estate services for our NRI customer. We specialize in Selling and Property management
                services for our elite customers via our extensive support network that is spread across India.Our dedicated
                team strives to deliver integrated services built on foresight, market insight, and relevant market knowledge.</p>
                <div>
                    <button type="button" class="hf-bg-blue btn btn-primary aenbtn" data-bs-toggle="modal" data-bs-target="#myModal">
                        Enquire Now
                      </button>
                </div>
            </div>
          </div>
    </div>
</section>
<app-footer></app-footer>
<app-modal-c></app-modal-c>