<section class="hf-about-banner hf-bg-blue text-light hf-property-banner">
    <div class="container">
        <div class="hf-about-head text-center">
            <h1>Home Loan</h1>
            <p>Your home loan specialist</p>
        </div>

    </div>
</section>

<section class="hf-loan-sec p-4 position-relative">
    <div class="hf-breadcrumb p-3">
        <div class="container-xxl">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="#">Home</a></li>
                    <li class="breadcrumb-item active " aria-current="page">Home Loans</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-8">
                <div class="card p-2 mb-4 shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 class="card-title pb-2 fw-bold">Home Loan</h4>
                        <p class="card-text">In a very real way, the home loan is the driving force behind the Indian residential real estate market. Without a home loan, a large portion of the Indian population would be forced to live in rental houses. Because of this facility,
                            one can be a proud home owner without having to have enormous amounts of ready cash. Since they play an extremely vital role in sustaining the real estate market, it is not only home buyers who depend on home loans, but developers
                            as well. To clear up a common misconception - home loans are not available only for the purchase of a house. One can avail of such financing to buy land and to construct on it, and also to renovate an existing property. Of
                            course, there are lending norms attached to the granting of a home loan.</p>

                    </div>
                </div>

                <div class="card p-2 mb-4">
                    <img src="assets/homeloan/bannerone.PNG" class="card-img-top" id="card-img-topid"
                                alt="...">
                </div>


                <div [ngClass]="['card' ,'p-2' ,'mb-4']" class="shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 class="card-title pb-4 fw-bold">Home Lone Documents</h4>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    REQUIREMENT SALARIED CUSTOMERS
                                  </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="content">
                                            <div class="text">
                                                <ul class="list" style="list-style: none;">
                                                    <li><i class="fa fa-check "></i>Application form with photograph duly signed by all applicants</li>
                                                    <li><i class="fa fa-check"></i>Identity, residence and age proof</li>
                                                    <li><i class="fa fa-check"></i>PAN card copy of the main applicant</li>
                                                    <li><i class="fa fa-check"></i>Last 3 months Salary-slips</li>
                                                    <li><i class="fa fa-check"></i>Form 16 / Income Tax Returns</li>
                                                    <li><i class="fa fa-check"></i>Last 6 months bank statements</li>
                                                    <li><i class="fa fa-check"></i>Processing fee cheque</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    SELF EMPLOYED PROFESSIONAL
                                  </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="content">
                                            <div class="text">
                                                <ul class="list" style="list-style: none;">
                                                    <li><i class="fa fa-check"></i>Application form with photograph duly signed by all applicants.</li>
                                                    <li><i class="fa fa-check"></i>Identity, residence and age proof.</li>
                                                    <li><i class="fa fa-check"></i>PAN card copy of the main applicant.</li>
                                                    <li><i class="fa fa-check"></i>Education qualification certificate and proof of business existence.</li>
                                                    <li><i class="fa fa-check"></i>Last 3 years Income Tax Returns with computation of Income.</li>
                                                    <li><i class="fa fa-check"></i>Last 3 years CA Certified / Audited Balance Sheet and Profit &amp; Loss Account.</li>
                                                    <li><i class="fa fa-check"></i>Last 6 months bank statements.</li>
                                                    <li><i class="fa fa-check"></i>Processing fee cheque.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    REQUIREMENT SELF EMPLOYED NON PROFESSIONAL
                                  </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="content">
                                            <div class="text">
                                                <ul class="list" style="list-style: none;">
                                                    <li><i class="fa fa-check"></i>Application form with photograph duly signed by all applicants.</li>
                                                    <li><i class="fa fa-check"></i>Identity, residence and age proof.</li>
                                                    <li><i class="fa fa-check"></i>PAN card copy of the main applicant.</li>
                                                    <li><i class="fa fa-check"></i>Proof of business existence.</li>
                                                    <li><i class="fa fa-check"></i>Business profile.</li>
                                                    <li><i class="fa fa-check"></i>Last 3 years Income Tax Returns with computation of Income.</li>
                                                    <li><i class="fa fa-check"></i>Last 3 years CA Certified / Audited Balance Sheet and Profit &amp; Loss Account.</li>
                                                    <li><i class="fa fa-check"></i>Last 6 months bank statements (self and business)</li>
                                                    <li><i class="fa fa-check"></i>Processing fee cheque.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseFour">
                                    BUILDER'S DOCUMENTS
                                  </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="content">
                                            <div class="text">
                                                <ul class="list" style="list-style: none;">
                                                    <li><i class="fa fa-check"></i>Agreement for Sale (Stamp duty &amp; Regn. Recpt)</li>
                                                    <li><i class="fa fa-check"></i>NA Order / 7/12 extract copy/Commencement Cert)</li>
                                                    <li><i class="fa fa-check"></i>Certificate from Advocate.</li>
                                                    <li><i class="fa fa-check"></i>Occupation Certificate / Completion Certificate</li>
                                                    <li><i class="fa fa-check"></i>ULC order ( if applicable).</li>
                                                    <li><i class="fa fa-check"></i>Blue Print Copy ( Jumbo Xerox ).</li>
                                                    <li><i class="fa fa-check"></i>Demand letter.</li>
                                                    <li><i class="fa fa-check"></i>NOC from Builder.</li>
                                                    <li><i class="fa fa-check"></i>Own contribution Receipt.</li>
                                                    <li><i class="fa fa-check"></i>Builder Bank Details ( A/c no./ Bank Name/ Branch Name).</li>
                                                    <li><i class="fa fa-check"></i>Development Agreement / POA from Land Owner to Builder / Partnership Deed ( If applicable )</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="['card', 'p-2', 'mb-4']" class="shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 class="card-title pb-3 fw-bold">How It Works</h4>
                        <div class="mb-3"><img src="assets/img/l-1.svg"><span class="hf-how-wr-txt">Compare various bank offers</span></div>
                        <div class="mb-3"><img src="assets/img/l-2.svg"><span class="hf-how-wr-txt">Share your details and apply to one or multiple banks</span></div>
                        <div class="mb-3"><img src="assets/img/l-3.svg"><span class="hf-how-wr-txt">Sit back and relax and wait for banks to contact you</span></div>
                        <div class="mb-3"><img src="assets/img/l-4.svg"><span class="hf-how-wr-txt">Avail Home Loan</span></div>
                    </div>
                </div>
                <div [ngClass]="['card', 'p-2', 'mb-4']" class="shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 [ngClass]="['card-title', 'pb-3', 'fw-bold']">Home Loan Bank Information</h4>
                        <table [ngClass]="['table','table-striped']">
                            <tr>
                                <th>Bank Name</th>
                                <th>Interest Rate</th>
                            </tr>
                            <tr>
                                <td>State Bank of India</td>
                                <td>6.70% p.a.</td>
                            </tr>
                            <tr>
                                <td>LIC HFl</td>
                                <td>6.70% p.a.</td>
                            </tr>
                            <tr>
                                <td>Axis Bank</td>
                                <td>6.75% - 7.10% p.a.</td>
                            </tr>
                            <tr>
                                <td>HDFC Bank</td>
                                <td>6.70% p.a.</td>
                            </tr>
                            <tr>
                                <td>ICICI Bank</td>
                                <td>6.70% p.a.</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card p-2 mb-4" class="shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 class="card-title pb-3 fw-bold">Home Financing Partners</h4>
                        <p>Best Home Loan Provider Banks in Mumbai</p>
                        <app-partner-slider></app-partner-slider>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hf-sideba">
                <app-sidebar></app-sidebar>
            </div>
            <!--sidebar-->

        </div>
    </div>

</section>
<app-footer></app-footer>