<section class="hf-about-banner hf-bg-blue text-light">
    <div class="container">
        <div class="hf-about-head text-center">
            <h1>{{pagename}}</h1>
        </div>
    </div>
</section>

<section class="hf-loan-sec p-4 position-relative">
    <div class="hf-breadcrumb p-3">
        <div class="container-xxl">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="#">Home</a></li>
                    <li class="breadcrumb-item active " aria-current="page">{{pagename}}</li>
                </ol>
            </nav>
        </div>
    </div>
</section>