<div class="hf-overview-container p-5">
    <div class="overview-head"><h4 class="hf-overview-txt">Why Sri Garden Avenue K?</h4></div>
    <div class="hf-overview-txt">
        <ul>
            <li>Club house, podium to impart quality lifestyle</li>
            <li>10min driving distance from the airport, 2 km from columbia asia hospital ,
                kolte hospital schools: podar international school lexicon international school. less than 
                5 min driving distance nagar highway</li>
            <li>The project offers apartment with perfect combination of contemporary architecture 
                and features to provide comfortable living</li>
            <li>Landscape garden, children play area, rainwater harvestingM</li>
        </ul>
    </div>
</div>


<div class="overview-block2 card mt-5 mb-5 ">
    <div class="overview-head p-4"><h4 class="hf-overview-txt">Sri Garden Avenue K Overview</h4></div>
    <hr class="hf-hor-line">
   
    <div class="flex-row d-flex flex-wrap">
        <div class="col-3 p-3 hf-o-card-txt">Project Area<br><span>5 Acres (75% open)</span></div>
        <div class="col-3 p-3 hf-o-card-txt">Size<br><span>445.00 sq.ft. - 692.00 sq.ft.</span></div>
        <div class="col-3 p-3 hf-o-card-txt">Project Size<br><span>10 Buildings - 560 units</span></div>
        <div class="col-3 p-3 hf-o-card-txt">Launch Date<br><span>Nov, 2012</span></div>
        <div class="col-3 p-3 hf-o-card-txt">Avg. Price<br><span>7.67 K/sq.ft</span></div>
        <div class="col-3 p-3 hf-o-card-txt">Possession Starts<br><span>Dec, 2022</span></div>
        <div class="col-3 p-3 hf-o-card-txt">Configurations<br><span>1, 2 BHK Apartments</span></div>
        <div class="col-3 p-3 hf-o-card-txt"></div>
        <div class="col-3 p-3 hf-o-card-txt">Rera Id<br><span>P99000004018, P990000</span></div>
        <div id="about"></div>
    </div>
</div>

<router-outlet></router-outlet>