<section class="hf-about-banner hf-bg-blue text-light hf-property-banner">
    <div class="container">
        <div class="hf-about-head text-center">
            <h1>Property</h1>
        </div>
    </div>
</section>

<section class="hf-loan-sec p-4 position-relative">
    <div class="hf-breadcrumb p-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active " aria-current="page">Property</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="assets/propety/headerimgtwo.PNG" class="hf-image-prop">
            </div>
        </div>
        <div class="card p-5 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="text shadow-sm p-3 mb-5 bg-white rounded">
                        <p>Horizon Financial Planners and properties adviser Pvt Ltd is in the business of providing end-to-end sales for leading developers such as Lodha, Godrej, Hiranandani, L&amp;T, Oberoi etc.</p>
                        <p>We provide brokerage services for buyers in new properties at zero cost. All our services are customized for buyers based on their need and keeping in mind budget constraints.</p>
                    </div>
                    <ul class="hf-list">
                        <li><i class="fa fa-check"></i>Professional Service at customer doorstep from Start to End</li>
                        <li><i class="fa fa-check"></i>Multiple projects from leading builders giving buyers an unbiased view</li>
                        <li><i class="fa fa-check"></i>No documentation hassle, 100% due diligence on projects @ Zero cost
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 content-side">

                    <div class="row mb-5">

                        <div class="col-md-12">
                            <div class="text shadow-sm p-3 mb-5 bg-white rounded">
                                <p>Horizon Financial Planners and properties adviser Pvt Ltd is in the business of providing end-to-end sales for leading developers such as Lodha, Godrej, Hiranandani, L&amp;T, Oberoi etc.</p>
                                <p>We provide brokerage services for buyers in new properties at zero cost. All our services are customized for buyers based on their need and keeping in mind budget constraints.</p>
                            </div>
                            <ul class="hf-list">
                                <li><i class="fa fa-check"></i>Professional Service at customer doorstep from Start to End</li>
                                <li><i class="fa fa-check"></i>Multiple projects from leading builders giving buyers an unbiased view</li>
                                <li><i class="fa fa-check"></i>No documentation hassle, 100% due diligence on projects @ Zero cost
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <h2>Channel Partner Services</h2>
                    <div class="text">Institutional brokerage services as a Channel Partner to Real Estate Companies is one of Horizon Financial Planners and properties adviser Pvt Ltd turnkey services that has defined and helped it grow in the Indian realty market</div>
                    <div class="text">Horizon Financial Planners and properties adviser Pvt Ltd has enabled the desired business outcomes for realtors because of the trusted and deep-rooted customer base that it has established through all these years of focused customer
                        service. While real estate companies benefit from higher sales reach, this medium also benefits end-customers because of the dedicated &amp; customized service right at their doorstep that too at zero cost to them. Buyers get the
                        benefit of exclusive channel partner pricing and no hassle with documentation since Horizon Financial Planners and properties adviser Pvt Ltd will be alongside start to finish including pickup and drop facility for site visit,
                        registration, etc.</div>
                    <div class="text">While we have a tall reference list to support our growth story, you would be pleased to know that we are amongst the largest Channel Partners for leading real estate companies such as the Lodha Group, Godrej, L&amp;T, Hiranandani,
                        etc.
                    </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-5 mt-5">
                            <img src="assets/img/benifits.jpg" class="hf-image-prop">
                        </div>
                    </div>
                    <div class="row shadow p-3 mb-5 bg-white rounded">
                        <h2>BUYER SERVICES</h2>
                        <div class="text">Buying a home is an important investment for every individual – turn it into your safest and best with an excellent experience with Horizon Financial Planners!</div>
                        <div class="col-md-12 mb-5 mt-5">
                            <img src="assets/img/buyer-image.jpg" class="hf-image-prop">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
<app-footer></app-footer>
<router-outlet></router-outlet>