<section class="hf-about-banner hf-bg-blue text-light hf-property-banner">
    <div class="container">
        <div class="hf-about-head text-center">
            <h1>Mutual Funds </h1>
        </div>
    </div>
</section>

<div class="hf-loan-sec p-4 position-relative">
    <div class="hf-breadcrumb p-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active " aria-current="page">Mutual Funds</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="card p-5 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="text">
                        <p>Mutual funds are the safest and easiest way to invest in the stock market without any of the related complexities and challenges.</p>
                        <p> A mutual funds pools the savings of a large number of investors and reinvests those funds for earning profits, which it distributes among investors. For a small fee to the fund house, you can make a lumpsum purchase with a large
                            amount or start an SIP (Systematic Investment Plan) for a very low amount that can be easily paid month after month. With shorter maturity horizons that traditional investments, lower tax burden, and no entry level barriers,
                            mutual funds have found overwhelming acceptance among Indians of all ages, professions and financial means.
                        </p>
                    </div>

                    <div class="row">
                        <div class="rounded mx-auto d-block">
                            <img src="assets\img\mutual-fund.png" class="text-align:center mb-4">

                        </div>
                        <div class="">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Advantages Of Investing In Mutual Funds
                                    </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="panel-body panel_text">
                                                <div class="content">
                                                    <div class="text">
                                                        <ul style="list-style: none;" class="list">
                                                            <li><i class="fa fa-check"></i>
                                                                <strong>Professional Management:</strong></li>
                                                            <p>Asset Management Companies (AMC) are managed by professionals and carry out the specialized investment activity. </p>

                                                            <li><i class="fa fa-check"></i><strong>Diversification: </strong></li>
                                                            <p>Diversification among a number of investments helps reduce the risk of any single holding.</p>

                                                            <li><i class="fa fa-check"></i><strong>Convenient Administration: </strong></li>
                                                            <p>The facility of making investments through service centers as well as through the Internet ensures convenience.</p>

                                                            <li><i class="fa fa-check"></i><strong>Return Potential: </strong></li>
                                                            <p>By allocating the right asset mix Mutual Funds offer a chance of higher potential returns. The high concentration of risky assets would lead to a higher return and vice-versa./p&gt;

                                                            </p>
                                                            <li><i class="fa fa-check"></i><strong>Low Costs: </strong></li>
                                                            <p>Given its size, an AMC would be in a position to negotiate better brokerage terms for the sale and purchase of its investments.</p>
                                                            <li><i class="fa fa-check"></i><strong>Liquidity: </strong></li>
                                                            <p>Open-ended schemes offer liquidity through on-going sale and repurchase facility. Thus the investor does not have to worry about finding a buyer for their investments.</p>
                                                            <li><i class="fa fa-check"></i><strong>Transparency:</strong></li>
                                                            <p>Information available through fact sheets, offer documents, annual reports and promotional materials helps provide the investor with the knowledge about their investments.</p>


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- <app-footer></app-footer> -->
        <!-- <router-outlet></router-outlet> -->