<owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide > 
        <img src="assets/img/p-1.png" [attr.width]="150" height="50px">
    </ng-template>  
    <ng-template carouselSlide > 
        <img src="assets/img/p-2.jpg" [attr.width]="150" height="50px">
    </ng-template>  
    <ng-template carouselSlide > 
        <img src="assets/img/p-3.png" [attr.width]="150" height="50px">
    </ng-template>  
    <ng-template carouselSlide > 
        <img src="assets/img/p-4.jpg" [attr.width]="150" height="50px">
    </ng-template>  
    <ng-template carouselSlide > 
        <img src="assets/img/p-5.png" [attr.width]="150" height="50px">
    </ng-template>  
    <ng-template carouselSlide > 
        <img src="assets/img/p-6.png" [attr.width]="150" height="50px">
    </ng-template>  
    <ng-template carouselSlide > 
        <img src="assets/img/p-7.png" [attr.width]="150" height="50px">
    </ng-template>  
    <ng-template carouselSlide > 
        <img src="assets/img/p-8.png" [attr.width]="150" height="50px">
    </ng-template>  
</owl-carousel-o>