<section class="hf-about-banner hf-bg-blue text-light hf-property-banner">
    <div class="container">
        <div class="hf-about-head text-center">
            <h1>Our Services</h1>
            <p>Best Service, Right Time, Right People</p>
        </div>

    </div>
</section>
<div class="hf-breadcrumb p-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="#">Home</a></li>
                <li class="breadcrumb-item active " aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</div>
<section class="hf-abt-profile-sec pb-5">
    <div class="container">

        <h2>Our Serivces</h2>
        <div class="row">
            <div class="col-md-12">
                <p>We started out with four people, and today we're a company of about more than 100 employees. Our headquarters is in Kurla, but everyone at Horizon is free to live and work whatever they want. We're designers, thinker, writers, artist,
                    programmers, leaders, volunteers and hard workers. With such a diverse group of people, from so many different places, we bring a unique perspective to everything we do.</p>

            </div>

        </div>
        <h2>Common Questions</h2>
        <div class="row">
            <div class="col-md-12">
                <p class="pb-4">We started out with four people, and today we're a company of about more than 100 employees. Our headquarters is in Kurla, but everyone at Horizon is free to live and work whatever they want. We're designers, thinker, writers, artist,
                    programmers, leaders, volunteers and hard workers. With such a diverse group of people, from so many different places, we bring a unique perspective to everything we do.</p>

            </div>
            <div class="hf-comm-ques">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h3 class="accordion-header " id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h6>How can horizon Property be accessed?</h6>
                              </button>
                        </h3>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Search On home page about property you need ...<br>
                                <button class="btn btn-sm btn-primary mt-4 hf-bg-blue">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can horizon property relationship manager help me?
                              </button>
                        </h3>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Horizon Property provides you a personalized property management service called "Owner Assist", where an experienced relationship manager helps you to find a potential Property. This service appoints a dedicated relationship manager to manage your property
                                advertisement, contact leads on your behalf, filter potential buyers, and connect you with the best prospects. <br>
                                <button class="btn btn-sm btn-primary mt-4 hf-bg-blue">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How to search for properties on horizon if I am a buyer?
                              </button>
                        </h3>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    <li>Go to Home Page</li>
                                    <li>Type region where you are looking for property</li>
                                    <li>Type name of property you are looking for</li>
                                    <li>Select the property type (residential, commercial or villas)</li>
                                    <li>Select your budget.</li>
                                    <li>Select constrution status you want</li>
                                    <li>Click On Search</li>
                                    <button class="btn btn-sm btn-primary mt-4 hf-bg-blue">Read More</button>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingfour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                How to search for properties on horizon if I am a buyer?
                              </button>
                        </h3>
                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    <li>Go to Home Page</li>
                                    <li>Select Top Builders in India</li>
                                    <li>Type name of Builder you are looking for</li>

                                    <button class="btn btn-sm btn-primary mt-4 hf-bg-blue">Read More</button>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>