<!-- <footer class="hf-footer-container p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="hf-footer-blk-1">
                    <a href="#"><img src="assets/img/logo.png" class="hf-footer-logo" /></a>
                     <h5 class="hf-foot-logo-txt">Horizon Financial Planners</h5>
                    <p></p>
                    <p></p>
                    <div class="hf-foot-txt">
                        <h6 class="fw-bold">PHONE:&nbsp;</h6><a href="tel:+919833717888" class="text-dark text-decoration-none">9833717888</a>
                    </div>
                    <p></p>
                    <p></p>
                    <h6 class="fw-bold">REGISTERED OFFICE</h6>
                    <p>
                        Horizon Financial Planners Shop No. 7, Shramsaflya CHS., Bulding No. 66, Near Abhyudaya Bank, Nehru Nagar, Kurla East Mumbai - 400 024
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hf-footer-blk-2">
                    <h6 class="fw-bold">WRITE TO US</h6>
                    <a href="mailto:info@horizonfp.com" class="text-dark text-decoration-none">info@horizonfp.com</a>
                    <p></p>
                    <p></p>
                    <h6 class="fw-bold">PROPERTY IN MUMBAI</h6>
                    <a href="#" class="text-dark text-decoration-none">Residential Property</a><br>
                    <a href="#" class="text-dark text-decoration-none">Commertial Property</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hf-footer-blk-2">
                    <h6 class="fw-bold">CALL US</h6>
                    <a href="tel:+919833717888" class="text-dark text-decoration-none">+91-9833717888</a>
                    <p></p>
                    <p></p>
                    <h6 class="fw-bold">COMPANY</h6>
                    <a href="#" class="text-dark text-decoration-none">Privacy Policy</a><br>
                    <a href="/about" class="text-dark text-decoration-none">About Us</a><br>
                    <a href="#" class="text-dark text-decoration-none">Feedback</a><br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hf-footer-blk-4">
                    <h6 class="fw-bold">CONNECT WITH US</h6>
                    <div class="d-flex">
                        <a href="https://www.facebook.com/horizonpvtltd"><i class="fa fa-facebook-square" aria-hidden="true"></i></a><br>
                        <a href="https://www.instagram.com/horizonfp.properties/"><i class="fa fa-instagram" aria-hidden="true"></i></a><br>
                        <a href="YouTube: https://www.youtube.com/@HorizonFP"> <i class="fa fa-youtube-play" aria-hidden="true"></i></a><br>
                        <a href="https://www.linkedin.com/company/horizon-propertinest"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="hf-chat-wrapper ">
        <i class='fa fa-comment'></i>
    </div>
</footer> -->
<div class="hf-chat-container">
    <div id="hf-chat">

        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-6">

                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <div class="card-header d-flex justify-content-between align-items-center p-3 hf-bg-blue text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <i class=""></i>
                            <p class="mb-0 fw-bold">Live chat</p>
                            <i class="fa fa-close" id="hf-close-chat"></i>
                        </div>
                        <div class="card-body">
                            <div id="hf-message-body">



                            </div>



                            <div class="form-outline">
                                <form id="hf-chat-form">
                                    <input class="form-control" id="data" placeholder="Type your message" />
                                    <button class="btn hf-bg-blue text-white mt-2">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<section class="hf-cpyrit-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hf-cpyrit-left text-white">
                    <p>Copyright © 2022</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <div class="hf-cpyrit-right text-white">All right reserved</div> -->
                <ul class="list-inline justify-content-center d-flex flex-row hf-hor-list">
                    <li><a href="/" class="text-decoration-none text-white">Home</a></li>
                    <li><a href="/about" class="text-decoration-none text-white">About</a></li>
                    <li><a href="/services" class="text-decoration-none text-white">Service</a></li>
                    <li><a href="/homeloan" class="text-decoration-none text-white">Home Loans</a></li>
                    <li><a href="/contact" class="text-decoration-none text-white">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>